
:root{
}

.container{
    height: 100% ;
    display: grid;
    padding: 2rem;
    row-gap: 10px;
    column-gap: 12px;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 330px 120px 1fr;
}

.container div{
    border-radius: 12px;
}



.lineChartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.tenants{
      grid-column: 2;
      grid-row: 1 / -1; 
}



.detailContainer{
    display: flex;
    justify-content: space-between;
}



.card{
    z-index: 0;
    width: 24%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);  
}


.card::before{
    content: '';
    opacity: 0;
    width: 400px;
    height: 400px;
    z-index: -2;
    top: var(--y);
    left: var(--x);
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    background: radial-gradient(var(--backlight), transparent, transparent);
}



.card:hover::before{
    opacity: 1;
}



.card::after{
    top: 2px;
    z-index: 1;
    left: -2px;
    right: -2px;
    bottom: -2px;
    content: '';
    position: absolute;
    border-radius: 12px ;
    background: rgba(8, 8, 8, 0.1);  
}