.container {
    position: relative;  
    height: 100%;
    color: var(--textColor);
    width: fit-content;
    padding: 0px 0 0 37px;
}



.container::before {
    inset: 0;
    z-index: 0; 
    content: "";
    position: absolute;
    clip-path: url(#containerShape);
    transition: clip-path 0.4s ease-in-out;
    background-color: var(--backgroundColor);
}



.content {
    padding-top: 90px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    height: 100%;
    width: fit-content;
}



.content .menuContainer {
    width: 100%;
    cursor: pointer;
    padding-right: 30px !important;
    font-size: var(--fs-high-title);
    box-sizing: border-box !important;
    position: relative;
    z-index: 1;
}



.content .menuContainer > div {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}





.isActive {
    z-index: 2;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--activeTextColor);
}


.isActive > div {
    position: relative;
    z-index: 2;
}
