

.container{
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    border: none;
    outline: none;
    position: absolute;
    padding: 45px 19px;
    box-sizing: border-box;
    border-radius: 0 15px 15px 0;
    color: var(--app-sidebar-textColor);
    background-color: var(--app-sidebar-background);
}


.container:has(.discardedItem){
    padding: 45px 15px;
}



.discardedItem{
  display: none !important;
}



.wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
}


.container:has(.discardedItem) .wrapper{
    align-items: center;
}


.container .drawerIconContainer{
    right: -19px;
    width: 10px;
    height: 10px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translate(50%);
    background-color: var(--app-sidebar-active-color);
}

.container:has(.discardedItem) .drawerIconContainer{
    right: -10px;
}

.container .drawerIconContainer svg{
    width: 100%;
    height: 100%;
}


.drawingEffect{
}


.container .appName{
    font-weight: 700;
    letter-spacing: -4.6;
    font-size: var(--fs-normal-title);
}



.container .menuSection{
    gap: 2.5rem;
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
}

.container:has(.discardedItem) .menuSection{
    align-items: center;
}


.inputContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
}



.inputContainer input{
    padding: 10px 15px;
    border-radius: 8px;
    padding-left: 37px;
    box-sizing: border-box;
    font-size: var(--fs-normal-title);
    color: var(--app-sidebar-textColor);
    background: var(--app-background);
}



.searchIcon{
    transform: translate(20%,10%);
    position: absolute;
}


.switchContainer, .switchContainer  div{
    gap: 15px;
    display: flex;
    align-items: center;
}

.switchContainer{
    justify-content: space-between;
}


/* Menu item compon - styles */

.menuItemContainer {
    gap: 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.menuItemActivate{
    padding: 5px 15px;
    display: flex;
    border-radius: 10px;
    background-color: var(--app-sidebar-active-color);
}




@media (max-width: 1382px) {
 
}