

.container{
    max-width: 20px;
    width: 100%;
    height: 15px;
    cursor: pointer;
    position: relative;
    padding: 0px 17px;
    border-radius: 40px;
    box-sizing:border-box;
    background-color: var(--app-background);
}


.container > .knob {
    left: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transition: var(--basic-smooth-transition);
    background-color: var(--app-sidebar-active-color);
}
