.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.rect {
    inset: 0;
    position: absolute;
}

.percentWrapper {
    top: 50%;
    left: 50%;
    z-index: 10;
    display: flex;
    position: absolute;
    align-items: center;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    transform: translate(-30%, -50%);
}

.percent {
  font-weight: bold;
}
