
:root{
}


.container{
    height: 100vh ;
    display: grid;
    padding: 2rem;
    row-gap: 10px;
    column-gap: 12px;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 3fr 1fr 2fr;
}



.container div{
    border-radius: 12px;
}



.lineChartContainer{
    position: relative;
}



.lineChartContainer .curvesTitle {
    top: 5px;
    right: 18px;
    opacity: .8;
    font-size: 26px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
}



.tenantsConatiner{
    gap: 20px;
    display: flex;
    height: 100%;
    overflow-y: auto;
    grid-column: 2;
    grid-row: 1 / -1;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* background: #222121; */
}


.tenantsConatiner::-webkit-scrollbar{
    display: none;
}



.tenantsConatiner .tenantsItems{
    gap: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 40px;
    align-items: center;
}

.tenantsConatiner .tenantsItems div {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tenantsConatiner .tenantsItems div > .tenantsNames {
    font-weight: 700;
    font-size: 18px;
}


.tenantsConatiner .tenantsItems div > .gauge {
    height: 10px;
    width: 100%;
    border-radius: 20px;
}


.detailContainer{
    display: flex;
    justify-content: space-between;
}



.card{
    z-index: 0;
    width: 24%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);  
}


.card::before{
    content: '';
    opacity: 0;
    width: 400px;
    height: 400px;
    z-index: -2;
    top: var(--y);
    left: var(--x);
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    background: radial-gradient(var(--backlight), transparent, transparent);
}



.card:hover::before{
    opacity: 1;
}



.card::after{
    top: 2px;
    z-index: 1;
    left: -2px;
    right: -2px;
    bottom: -2px;
    content: '';
    position: absolute;
    border-radius: 12px ;
    background: rgba(8, 8, 8, 0.1);  
}