@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navBarHeight: 55px
}



body{
  display: grid;
  background: #F2ECF8;
  background: #000;
  color: white;
  grid-template-columns: auto 1fr;
  grid-template-areas: "navbar navbar" "aside main";
}


.navBar{
  grid-area: navbar;
  height: var(--navBarHeight);
}

.searchBar ::placeholder{
  background-color: white;
}


aside{
  gap: 33px;
  height: 100%;
  display: flex;
  grid-area: aside;
  flex-direction: column;
  background-color: red;
  padding: 39px 20px 9px 20px;
  min-height: calc(100vh - var(--navBarHeight)) ;
}

.logo-aside{
  width: 2rem;
}

.main{
  grid-area: main;
}




