
:root{
    --fs-high-title: 15px;
    --fs-welcome-title: 40px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif ;
}

.icon-object-properties{
    object-fit: cover;
    object-position: center;
}

.icon-medium-size{
    width: 20px;
    height: 20px;
}

.icon-active{
    padding: 3px;
    border-radius: 5px;
    transition: padding 2s ease;
    background-color: var(--app-active-icon-background);
}