@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navBarHeight: 60px
}



body{
  display: grid;
  color: white;
  background: linear-gradient(300deg, #392072, #221842)
           ;
  grid-template-columns: auto 1fr;
  grid-template-areas: "navbar navbar" "aside main";
}



.navBar{
  grid-area: navbar;
  height: var(--navBarHeight);
}



.searchBar ::placeholder{
  background-color: white;
}



aside{
  position: relative;
  display: flex;
  grid-area: aside;
  flex-direction: column;
  align-items: center;
  background-color: rgba(12,15,70,255);
  min-height: calc(100vh - var(--navBarHeight)) ;
}




.main{
  grid-area: main;
}




