
/* Container principal */
.container {
    gap: 1rem;
    height: 100%;
    display: flex;
    margin-left: 5rem;
}

/* First section */


.firstDivision {
    gap: 0.8rem;
    height: 100%;
    display: flex;
    padding: 15px 20px ;
    position: relative;
    cursor: pointer;
    overflow-y: auto;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    flex-direction: column;
    font-size: var(--fs-normal-title);
    background-color: var(--app-container-primary-color);
}


.firstDivision::-webkit-scrollbar {
    height: 0;
    width: 0;

}

.firstDivision .optionsSection {
    border: 0;
    outline: 0;
    width: 70%;
    gap: 1rem;
    display: flex;
    top: 0; 
    z-index: 10;
    position: sticky;
    border-radius: 30px;
    align-items: center;
    padding: 0.3rem 1.8rem;
    justify-content: center;
    background-color: var(--app-container-secondary-color);
}


.firstDivision .optionsSection  > div{
    padding: 0.4rem 1rem;
}


.firstDivision .optionsSection  .activate{
    position: relative;
    border-radius: 30px;
    background: var(--app-container-primary-color);
}

.firstDivision .optionsSection  .activate span{
    display: inline-block;
    padding-left: 1rem;
}



.firstDivision .optionsSection .activate::before {
  content: '';
  position: absolute;
  left: 0.5rem ;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: none;
  display: inline-block;
  -webkit-mask: url(/assets/icons/svg/keys.svg) no-repeat center / contain;
  mask: url(/assets/icons/svg/keys.svg) no-repeat center / contain;
  background-color: currentColor; 
}


.firstDivision .itemContainer {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}





.firstDivision .itemContainer .itemWrapper {
    width: 18rem;
    padding: 5px;
    position: relative;
    border-radius: 20px;
    transition: background-color 2s ease-in,
                transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 1);
}




.firstDivision .itemContainer .item {
    gap: 5px;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transition: left 1s cubic-bezier(0.22, 1, 0.36, 1),
                bottom 1s cubic-bezier(0.22, 1, 0.36, 1),
                transform 0.45s cubic-bezier(0.22, 1, 0.36, 1);

    will-change: transform, left, bottom;
}




.firstDivision .itemContainer .item img {
    width: 100%;
    height: 15rem;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
                filter 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}






.firstDivision .itemContainer .item .locationContainer {
    gap: 5px;
    display: flex;
    align-items: center;
}


.firstDivision .itemContainer .item .propertyMetaBar{
    position: relative;
}


.firstDivision .itemContainer .item .metaGroup{
    gap: 10px;
    display: flex;
    overflow-x: auto;
    box-sizing: border-box;
    justify-content: flex-start;
}


.firstDivision .itemContainer .item .metaGroup::-webkit-scrollbar{
    width: 0;
    height: 0;
}


.firstDivision .itemContainer .item .metaGroup .tags{
    border: 0;
    outline: 0;
    gap: 0.28rem;
    display: flex;
    max-width: 5rem;
    padding: 4px 12px;
    align-items: center;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--app-container-secondary-color);

}

.firstDivision .itemContainer .item  .arrowIndicator{
    top: 50%;
    display: flex;
    height: fit-content;
    width: fit-content;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: opacity .2s;
    transform: translateY(-47%);
}

.firstDivision .itemContainer .item  .arrowIndicator:hover{
    opacity: 1;
    z-index: 10;
    border-radius: 20px;
    background: var(--app-container-secondary-color);
    animation:  bouncePulse 0.7s cubic-bezier(.22, 1.61, .36, 1) forwards;
}

.firstDivision .itemContainer .item  .arrowIndicator:hover svg{
    opacity: 1;
}

@keyframes bouncePulse {
    0% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
    30% {
        opacity: 0.85;
        transform: translateY(-50%) scale(1.2);
    }
    60% {
        opacity: 0.9;
        transform: translateY(-50%) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}


.firstDivision .itemContainer .item  .rigthArrowIndicator {
    right: -20px;
}


.firstDivision .itemContainer .item  .rigthArrowIndicator:hover{
    transform: rotate(0);
}


.firstDivision .itemContainer .item  .leftArrowIndicator {
    left: -20px;
}


.firstDivision .itemContainer .item  .leftArrowIndicator svg{
    transform: rotate(180deg);
}


/* Main section */


.main{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.main  .title{
    font-size: 1.3rem;
}

/*----main header---*/

.main .header{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}




.main .header .KPIContainer{
    gap: 0.9rem;
    display: flex;
}

.main .header .KPIItem{
    gap: 0.5rem;
    display: flex;
    border-radius: 20px;
    padding: 1rem 0.6rem;
    /* cursor: pointer; */
    flex-direction: column;
    background: var(--app-container-primary-color);
}


.main .header .KPIItem p{
    position: relative;
}



.main .header .KPIItem .rate{
    right: 15px;
    font-size: 13px;
    position: absolute;
    color: var(--color);
    display: inline-block ;
}


.main .header .KPIItem .rate::before{
    content: "";
    width: 10px;
    height: 10px;
    background: none;
    display: inline-block;
    background-color: currentColor; 
    -webkit-mask: var(--rsc) no-repeat center / contain;
    mask: var(--rsc) no-repeat center / contain;
}


.main  .KPIItem .lineChart{
    border: 0;
    width: 12rem;
    height: 4rem;
}



/*----main complaints---*/


.complaintsSection,
.complaintsCard .metricsWrapper,
.complaintsCard .metricsWrapper .metricItem,
.complaintsSection  .insightContainer,
.complaintsSection  .insightContainer .pieChartSection,
.complaintsSection  .insightContainer .pieChartSection .details
{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}


.complaintsSection{}



.complaintsCard .metricsWrapper{
    flex-direction: row;
}


.complaintsCard .metricsWrapper .metricItem{
    width: 12rem;
    position: relative;
    padding: 1rem 0.6rem;
    border-radius: 20px;
}
.complaintsCard .metricsWrapper .metricItem::before{
    inset: 0;
    content: "";
    z-index: -2;
    position: absolute;
    border-radius: inherit;
    opacity: var(--backgroundOpacity);
    background: var(--backgroundColor);
}


.complaintsCard .metricsWrapper .metricItem .arrowUpRight{
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    background-color: var(--app-container-secondary-color);
}


.complaintsCard .metricsWrapper .metricItem .details .rate{
    padding-right: 2px;
    color: var(--color);
}


.complaintsCard .metricsWrapper .metricItem .details .rate::before{
    content: "";
    width: 10px;
    height: 10px;
    background: none;
    display: inline-block;
    transform: translateY(5%);
    background-color: currentColor; 
    -webkit-mask: var(--rsc) no-repeat center / contain;
    mask: var(--rsc) no-repeat center / contain;
}


.complaintsSection  .insightContainer{
    gap: 10PX;
}


.complaintsSection  .insightContainer .title{
    font-size: 1rem;
}



.complaintsSection  .insightContainer .pieChartSection {
    gap: 0.3rem;
    align-items: center;
    flex-direction: row;
}

.complaintsSection  .insightContainer  .pieChartContainer{
    width: 12rem;
    height: var(--height);
    background-color: var(--app-container-primary-color);
}




/*----Last content----*/

.lastDivision{
    width: 22rem;
    margin-left: auto;
}

.lastDivision .notificationContainer{
    height: 60%;
    position: relative;
    padding: 1rem 2rem;
    /* background: var(--app-container-primary-color); */
}

.lastDivision .notificationContainer::before{
    top: 0;
    left: 0;
    content: "";
    border: 20px;
    margin-top: 45px;
    position: absolute;
    height: calc(100% - 45px);
    border-left: 2px solid var(--app-textColor);
}


.lastDivision .notificationContainer .title{  font-size: 1.3rem; }


.lastDivision .notificationContainer .itemsWrapper{
    gap: 2rem;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
}


.lastDivision .notificationContainer .itemsWrapper .item {
    gap: 10px;
    display: flex;
    position: relative;
}

.lastDivision .notificationContainer .itemsWrapper .item::before {
    top: 0;
    left: 0;
    width: 15px;
    content: "";
    height: 15px;
    border-radius: 50%;
    margin-left: -2rem;
    position: absolute;
    transform: translate(-50%);
    background-color: var(--app-textColor);
}


.lastDivision .notificationContainer .itemsWrapper .item img{
    border: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}


.lastDivision .notificationContainer .itemsWrapper .item .desc{
    font-size: 14px;
    font-weight: 800;
    margin-right: 1rem;
}



.lastDivision .notificationContainer .itemsWrapper .item .metaInfo .time::before{
    content: "";
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    background: var(--app-light-textColor);
}



.lastDivision .notificationContainer .itemsWrapper .item .optionsVertical {
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    transform: translateY(54%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7; /* -> transparence */
}

.lastDivision .notificationContainer .itemsWrapper .item .optionsVertical:hover {
    transform: translateY(0);
    opacity: 1; /* -> opaque */
}





/*  special/effect/global class (not specify for one particular item)  */




.breakDisplay{
    display: none;
    visibility: hidden;
}

.disruptingPointerAnimation{
    pointer-events: none;   
}

.title {
    font-size: 1.05rem;
    font-weight: 800;
}

 .littleTitle{
    font-size: 15px;
}


.lightColor {
    opacity: 0.65;
    font-weight: normal;
    font-size: var(--fs-litte-text);
    color: var(--app-light-textColor);
}




/*  Media rules for responsivness */

@media (max-width: 767px){
    .firstDivision{
        /* the margin effect of the container on the first division (cause it will clip firstDivision as max-width is going shorter) */
    }
}



