.layout {
  width: 100%;
  height: 100dvh;
  position: relative;
}

.main {
  flex: 1;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 20px 15px 20px 30px;
}

